.VPageTitle {
	font-family: 'Ubuntu';
	font-size: 36px;
	font-weight: 500;
	padding-bottom: 20px;
	border-bottom: 1px dashed $primary-color;
	width: 100vmax;
}

.VPageTitle-mini {
	font-size: 24px;
	font-weight: 300;
}

.VPageTitle-large {
	font-size: 48px;
	font-weight: 700;
}
