.GalleryPage-Wrapper {
	display: block;
	overflow-y: auto;
}

.GalleryPage-Content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.GalleryPage-Picture {
	width: 250px;
	margin: 5px 5px 15px 5px;
	&:hover {
		color: $primary-color;
		.ant-card-head-title {
			color: $primary-color;
		}
	}
}
