.App {
	text-align: center;
	height: 100vh;
	.view {
		height: 100%;
		background-color: $background-light-color;
	}
}
.App-menu {
	display: flex;
	flex-direction: row;
	background-color: $background-header-color;
	.App-menu-item {
		box-sizing: border-box;
		height: 100%;
		color: $font-color;
		border-radius: 4px;
		margin-left: 10px;
		&:hover {
			color: $font-color;
			background-color: $primary-color;
			opacity: 0.9;
		}
		&.ant-menu-item-selected {
			background-color: $primary-color;
		}
		&.ant-menu-item-selected:hover {
			opacity: 1;
		}
	}
}
.App-dropdown li {
	font-size: 24px;
}
.App-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $font-color;
	background-color: $background-header-color;
	border-bottom: 2px solid $primary-color;
}
.App-header-sessiontime {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 150px;
	.App-header-sessiontime-button {
		color: $font-color;
		border: none;
		&:hover {
			color: $primary-color;
		}
	}
}

.App-content {
	display: flex;
	justify-content: center;
}

.App-footer {
	border-top: 2px solid $primary-color;
	background-color: $background-header-color;
}
