.App {
	text-align: center;
}
.App-menu {
	display: flex;
	flex-direction: row;
	background-color: white;
	.App-menu-item {
		height: 100%;
		color: $font-color;
		border-radius: 4px;
		&:hover {
			color: $font-color;
			opacity: 0.7;
		}
		&.ant-menu-item-selected {
			background-color: $primary-color;
		}
		&.ant-menu-item-selected:hover {
			opacity: 1;
		}
	}
}

.App-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $font-color;
	background-color: white;
	border-bottom: 2px solid $primary-color;
}
.App-header-sessiontime {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 150px;
	.App-header-sessiontime-button {
		color: $font-color;
		border: none;
		&:hover {
			color: $primary-color;
		}
	}
}

.App-link {
	color: #61dafb;
}
