.App {
	text-align: center;
}
.App-menu {
	box-sizing: border-box;
	width: 100vw;
	display: flex;
	flex-direction: row;
	.App-menu-item {
		height: 100%;
	}
	.App-menu-session {
		flex: 1 1 100%;
	}
}

.App-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $font-color-header;
}
.App-header-sessiontime {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 150px;
	.App-header-sessiontime-button {
		//color: $font-color-header;
	}
}

.App-link {
	color: #61dafb;
}
